.px-3.lg:px-0.h-full
  .container.mx-auto.my-8.px-4
    .flex.justify-between.items-center.mb-4
      %h1.text-3xl.text-bold People
    .flex.flex-col
      .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
        .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
          .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
            %table.min-w-full.divide-y.divide-gray-200
              %thead.bg-gray-50
                %tr
                  %th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider{:scope => "col"}
                    Name
                  %th.relative.px-6.py-3{:scope => "col"}
                    %span.sr-only Actions
              %tbody.bg-white.divide-y.divide-gray-200
                - @people.each do |person|
                  %tr.hover:bg-gray-100
                    %td.px-6.py-4.whitespace-nowrap
                      = link_to person do
                        .flex.items-center
                          .flex-shrink-0.h-12.w-12
                            = show_avatar(person)
                          .ml-4
                            .text-sm.font-medium.text-indigo-600
                              = person.display_name
                            .text-sm.text-indigo-500
                              = person.email
                    %td.px-6.py-4.whitespace-nowrap.text-right.text-sm.font-medium
                      - person.sis_records.each do |sr|
                        -if sr.record_type && sr.record_type == "contact"
                          %span.text-xs.inline-block.py-1.px-2.5.leading-none.text-center.whitespace-nowrap.align-baseline.font-bold.bg-yellow-500.text-white.rounded-full
                            = sr.record_type.capitalize
                        -if sr.student_grade.present?
                          %span.text-xs.inline-block.py-1.px-2.5.leading-none.text-center.whitespace-nowrap.align-baseline.font-bold.bg-blue-600.text-white.rounded-full
                            = sr.student_grade
                        -if sr.campus.present?
                          %span.text-xs.inline-block.py-1.px-2.5.leading-none.text-center.whitespace-nowrap.align-baseline.font-bold.bg-blue-400.text-white.rounded-full
                            = sr.campus
