.px-3.lg:px-0.h-full
  .container.mx-auto
    %h1.text-3xl.text-bold.my-6.text-center
      = @person.display_name
  .bg-white.rounded-lg.border.border-gray-200.sm:rounded-md.sm:max-w-2xl.sm:mx-auto
    .flex.items-center.px-8.py-8.border-b.last:border-b-0
      .flex-1
        %h4.font-medium.text-.text-gray-700 Name(s)

        %h6.font-medium.text-sm.text-gray-700 Official given name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.official_given_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Other given names
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.other_given_names || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Official family name or patronymic
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.official_family_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Preferred given name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.preferred_given_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Preferred family name or patronymic
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.preferred_family_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Local given name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.local_given_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Local family name or patronymic
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.local_family_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Display name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.display_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Formal name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.formal_name || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Sort name
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.sort_name || "Not supplied"

        - if @person.additional_name_details
          %h5.font-medium.text-.text-gray-700 Additional name details
          - @person.additional_name_details.each do |h|
            .font-medium.text-sm.leading-5.text-gray-700
              = h["type"]
            .mb-2.text-sm.leading-5.text-gray-700
              = h["value"].class == Array ? h["value"].join(", ") : h["value"]

        %hr.my-4/

        %h6.font-medium.text-sm.text-gray-700 Date of birth
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.date_of_birth || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Gender
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.gender || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 School email
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.school_email || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Personal email
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.personal_email || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 School phone
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.school_phone || "Not supplied"

        %h6.font-medium.text-sm.text-gray-700 Personal phone
        .mb-2.text-sm.leading-5.text-gray-700
          = @person.personal_phone || "Not supplied"

        - if @person.other_contact_details
          %h5.font-medium.text-.text-gray-700 Other contact details
          - @person.other_contact_details.each do |h|
            .font-medium.text-sm.leading-5.text-gray-700
              = h["type"]
            .mb-2.text-sm.leading-5.text-gray-700
              = h["value"].class == Array ? h["value"].join(", ") : h["value"]
