<div id="<%= dom_id group %>">

  <p>
    <strong>Etag:</strong>
    <%= group.etag %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= group.email %>
  </p>

  <p>
    <strong>Aliases:</strong>
    <%= group.aliases %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= group.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= group.deleted_at %>
  </p>

</div>
