.overflow-hidden.px-3.py-10.flex.justify-center.min-h-screen
  .w-full.max-w-sm
    %h2.block.text-gray-700.text-xl.font-bold.mb-2= t(".title")
    #clearance.sign-up
      = form_for @user, classs: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form|
        = render partial: "/users/form", object: form
        .flex.items-center.justify-between
          .submit-field
            = form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          .other-links
            = link_to t(".sign_in"), sign_in_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"

    %p.text-center.text-gray-500.text-xs.p-4
      Verleng Foundation © 2021
