<div class="px-3 lg:px-0 h-full">
  <div class="container mx-auto">
    <h1 class="text-3xl text-bold my-3 text-center">
      <%= link_to "GWD Groups", gwd_groups_path, {class: "text-indigo-600"} %> > <%= @gwd_group.name %>
    </h1>
  </div>

  <div class="grid md:grid-cols-2 gap-6 lg:gap-x-12">

    <div class="bg-white rounded-lg border border-gray-200 sm:rounded-md md:max-w-3xl">
      <div class="flex items-center px-8 py-8 border-b last:border-b-0">
        <div class="flex-1">
          <h2 class="font-medium text-xl text-gray-700 mb-3">Directory Details</h2>

          <h4 class="font-medium text-sm text-gray-700">Primary email</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.email %>
          </div>

          <h4 class="font-medium text-sm text-gray-700">Email aliases</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.aliases %>
          </div>
          
          <h4 class="font-medium text-sm text-gray-700">Description</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.description %>
          </div>
          
          <hr class="my-4"/>
          
          <h3 class="font-medium text-xl text-gray-700 mb-3">Additional Information</h3>
          
          <h4 class="font-medium text-sm text-gray-700">ID</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.id %>
          </div>
          
          <h4 class="font-medium text-sm text-gray-700">Etag</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.etag %>
          </div>
          
          <h4 class="font-medium text-sm text-gray-700">Deleted at</h4>
          <div class="mb-2 text-sm leading-5 text-gray-700">
            <%= @gwd_group.deleted_at %>
          </div>

        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg border border-gray-200 sm:rounded-md md:max-w-3xl">
      <div class="flex items-center px-8 py-8 border-b last:border-b-0">
        <div class="flex-1">

            <h2 class="font-medium text-xl text-gray-700 mb-3">Members</h2>
            <% @gwd_group.memberships.each do |membership| %>
              <div class="text-indigo-600 py-1">
                <%= link_to membership.email, polymorphic_url(membership.member) %>
              </div>
            <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
